
body {
  background-color: black;
}

//noinspection CssUnknownTarget
.hero-collapsing-header {
  height: 80vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  background: url("/img/header_background.jpg") no-repeat;
  background-size: cover;
  align-items: center;
  justify-content: center;


  h2 {
    color: white;
    text-shadow: 0 0 10px #000000;
  }

  .circle-picture {
    width: 200px;
    height: 200px;
    background: url("/img/profile_picture.jpg");
    background-size: cover;
    border-radius: 100px;
    box-shadow: 0 0 15px;
  }
}

//noinspection CssUnknownTarget
.page-content {
  .about-section {
    height: 80vh;
    background: black;
    display: flex;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;

    .profile-picture {
      background: url("/img/profile_picture.jpg");
      background-size: cover;
      height: 200px;
      width: 200px;
      min-width: 200px;
      min-height: 200px;
    }

    .information-wrapper {
      display: flex;
      flex-direction: column;
      color: white;
      margin-left: 50px;
      margin-right: 50px;

      .header {
        margin: 0;
      }
      .body {
        margin: 0;
      }
    }
  }
  .experience-section {
    box-shadow: 5px 5px 30px #000000;
    color: white;
    justify-items: center;
    background: black;
    display: flex;
    padding-left: 100px;
    padding-right: 100px;
    flex-direction: column;

    .title {
      margin: 30px 0 0;
      color: #fff;
    }

    h1 {
      display: inline-block;
    }
    .experience-items {
      flex: 1;
      div {
        outline: 0;
        flex: 1;
        p {
          margin: 0;
        }
        h2, h6 {
          margin: 20px 0 0 0;
        }
      }
    }
  }
  .projects-section {
    background: black;
    box-shadow: 5px 5px 30px #000000;
    color: white;
    justify-items: center;
    display: flex;
    padding-left: 100px;
    padding-right: 100px;
    flex-direction: column;

    .title {
      margin: 30px 0 0;
      color: #fff;
    }
    .pink {
      color: #ff4081;
      display: inline-block;
    }
    h1 {
      display: inline-block;
    }
    .project-items {
      flex: 1;
      margin-top: 50px;
      .item {
        display: block;
        width: 600px;
        margin: 10px;
        height: 300px;
        border-radius: 5px;
        outline: 0;
        padding: 0 20px 20px;
        background: white;
        color: black;

        .status,.link {
          padding: 0;
          margin: 0;
          display: inline;
        }

        .info-wrap {
          width: 100%;
          text-align: center;
          margin-bottom: 20px;
        }
        .in-progress {
          color: #568074;
          display: inline;
        }

        .status {
          margin-bottom: 20px;
        }

        .title {
          width: 100%;
          text-align: center;
          color: black;
        }

        .description {
        }
      }
    }
  }
  .contact-section {
    height: 80vh;
    background: black;
  }
}

.position-dots {
  flex: 1;
  width: 100%;
  text-align: center;
  padding: 0;
  margin: 10px 0 50px 0;
  li {
    cursor: pointer;
    display: inline;
    font-size: 32px;
    &::after {
      content: '•';
    }
    button {
      visibility: hidden;
    }

    &.slick-active {
      color: #ff4081;
    }
  }
}

.pink {
  color: #ff4081;
  &.inline {
    display: inline-block;
  }
}

//noinspection CssUnknownTarget
.navbar {
  position: fixed;
  top: 0;
  z-index: 999;
  display: flex;
  height: 65px;
  width: 100%;
  transition: background-color 1s;
  background-color: rgba(#000000, 0);

  &.fixed {
    background-color: rgba(#000000, 0.9);
    transition: background-color 1s;
  }

  .left {
    position: absolute;
    left: 65px;

    ul {
      height: 65px;
      vertical-align: middle;
      display: flex;
      margin: 0;
      align-items: center;
      justify-items: center;
    }
    li {
      display: inline-block;
      height: 25px;
      width: 25px;
      &.twitter-button {
        background: url("/img/twitter-logo.png") no-repeat;
        background-size: contain;
      }
      &.linkedin-button {
        background: url("/img/linkedin-logo.png") no-repeat;
        background-size: contain;
        margin-left: 20px;
      }
    }
  }

  .right {
    position: absolute;
    right: 100px;
    li {
      display: inline-block;
      color: white;
    }
  }
}